<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>autoTests.TestRunner</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A21</td>
<td>Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A10</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A11</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A22</td>
<td>Массовые операции Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A23</td>
<td>Массовые операции Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A12</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A13</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A14</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A15</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A16</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A17</td>
<td>Массовые операции Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A18</td>
<td>Массовые операции Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A19</td>
<td>Массовые операции Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A1</td>
<td>Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A2</td>
<td>Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A3</td>
<td>Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A4</td>
<td>Осн. функционал Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A5</td>
<td>Осн. функционал Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A6</td>
<td>Осн. функционал Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A7</td>
<td>Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A8</td>
<td>Осн. функционал Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A9</td>
<td>Фильтры Main </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>A20</td>
<td>Массовые операции Main </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenshot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
