<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>16/03/18 15:43:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.SetUp()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:43:59</td>   <td>3498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:43:59</td>   <td>3506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A1()[pri:0, instance:autoTests.TestRunner@28d25987]">A1</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:04</td>   <td>8268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:04</td>   <td>8358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:44:14</td>   <td>18395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A2()[pri:0, instance:autoTests.TestRunner@28d25987]">A2</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:21</td>   <td>24983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:21</td>   <td>24986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:44:21</td>   <td>25011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A3()[pri:0, instance:autoTests.TestRunner@28d25987]">A3</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:23</td>   <td>27530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:23</td>   <td>27531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:44:23</td>   <td>27807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A4()[pri:0, instance:autoTests.TestRunner@28d25987]">A4</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:09</td>   <td>73255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:09</td>   <td>73257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:09</td>   <td>73266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A5()[pri:0, instance:autoTests.TestRunner@28d25987]">A5</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:17</td>   <td>81774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:17</td>   <td>81775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:17</td>   <td>81782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A6()[pri:0, instance:autoTests.TestRunner@28d25987]">A6</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:26</td>   <td>90180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:26</td>   <td>90182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:26</td>   <td>90189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A7()[pri:0, instance:autoTests.TestRunner@28d25987]">A7</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:34</td>   <td>98836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:34</td>   <td>98837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:34</td>   <td>98844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A8()[pri:0, instance:autoTests.TestRunner@28d25987]">A8</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:53</td>   <td>117061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:53</td>   <td>117063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:53</td>   <td>117068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A10()[pri:0, instance:autoTests.TestRunner@28d25987]">A10</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:56</td>   <td>120237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:56</td>   <td>120239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:56</td>   <td>120251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A11()[pri:0, instance:autoTests.TestRunner@28d25987]">A11</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:59</td>   <td>123295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:59</td>   <td>123296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:59</td>   <td>123301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A12()[pri:0, instance:autoTests.TestRunner@28d25987]">A12</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:20</td>   <td>204017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:20</td>   <td>204018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:20</td>   <td>204027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A13()[pri:0, instance:autoTests.TestRunner@28d25987]">A13</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:26</td>   <td>210534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:26</td>   <td>210534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:26</td>   <td>210541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A14()[pri:0, instance:autoTests.TestRunner@28d25987]">A14</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:33</td>   <td>217534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:33</td>   <td>217535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:33</td>   <td>217541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A15()[pri:0, instance:autoTests.TestRunner@28d25987]">A15</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:40</td>   <td>224506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:40</td>   <td>224507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:40</td>   <td>224514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A16()[pri:0, instance:autoTests.TestRunner@28d25987]">A16</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:49</td>   <td>233609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:49</td>   <td>233610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:49</td>   <td>233616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A9()[pri:0, instance:autoTests.TestRunner@28d25987]">A9</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:56</td>   <td>240540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:56</td>   <td>240542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:56</td>   <td>240547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A17()[pri:0, instance:autoTests.TestRunner@28d25987]">A17</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:04</td>   <td>248433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:04</td>   <td>248434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:48:04</td>   <td>248460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A18()[pri:0, instance:autoTests.TestRunner@28d25987]">A18</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:19</td>   <td>263193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:19</td>   <td>263194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:48:19</td>   <td>263199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A19()[pri:0, instance:autoTests.TestRunner@28d25987]">A19</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:49:23</td>   <td>327096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:49:23</td>   <td>327098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:49:23</td>   <td>327107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A20()[pri:0, instance:autoTests.TestRunner@28d25987]">A20</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:37</td>   <td>401681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:37</td>   <td>401682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:50:37</td>   <td>401689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A21()[pri:0, instance:autoTests.TestRunner@28d25987]">A21</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:41</td>   <td>405114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:41</td>   <td>405115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:50:41</td>   <td>405120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A22()[pri:0, instance:autoTests.TestRunner@28d25987]">A22</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:15</td>   <td>438966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:15</td>   <td>439613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:51:15</td>   <td>439645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A23()[pri:0, instance:autoTests.TestRunner@28d25987]">A23</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:42</td>   <td>466379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:42</td>   <td>466467</td> <td title="&lt;&lt;SetupAndTeardown.deleteFiles()[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;deleteFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179381257</td>   <td></td> </tr>
</table>
