<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:43:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A1()[pri:0, instance:autoTests.TestRunner@28d25987]">A1</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:53</td>   <td>113562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A10()[pri:0, instance:autoTests.TestRunner@28d25987]">A10</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:56</td>   <td>116745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A11()[pri:0, instance:autoTests.TestRunner@28d25987]">A11</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:59</td>   <td>119795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A12()[pri:0, instance:autoTests.TestRunner@28d25987]">A12</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:20</td>   <td>200521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A13()[pri:0, instance:autoTests.TestRunner@28d25987]">A13</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:26</td>   <td>207035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A14()[pri:0, instance:autoTests.TestRunner@28d25987]">A14</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:33</td>   <td>214035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A15()[pri:0, instance:autoTests.TestRunner@28d25987]">A15</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:40</td>   <td>221008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A16()[pri:0, instance:autoTests.TestRunner@28d25987]">A16</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:56</td>   <td>237041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A17()[pri:0, instance:autoTests.TestRunner@28d25987]">A17</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:48:04</td>   <td>244954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A18()[pri:0, instance:autoTests.TestRunner@28d25987]">A18</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:48:19</td>   <td>259693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A19()[pri:0, instance:autoTests.TestRunner@28d25987]">A19</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:44:14</td>   <td>14889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A2()[pri:0, instance:autoTests.TestRunner@28d25987]">A2</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:49:23</td>   <td>323601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A20()[pri:0, instance:autoTests.TestRunner@28d25987]">A20</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:50:37</td>   <td>398183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A21()[pri:0, instance:autoTests.TestRunner@28d25987]">A21</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:50:41</td>   <td>401614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A22()[pri:0, instance:autoTests.TestRunner@28d25987]">A22</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:51:15</td>   <td>436139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A23()[pri:0, instance:autoTests.TestRunner@28d25987]">A23</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:44:21</td>   <td>21505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A3()[pri:0, instance:autoTests.TestRunner@28d25987]">A3</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:44:23</td>   <td>24301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A4()[pri:0, instance:autoTests.TestRunner@28d25987]">A4</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:09</td>   <td>69760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A5()[pri:0, instance:autoTests.TestRunner@28d25987]">A5</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:17</td>   <td>78276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A6()[pri:0, instance:autoTests.TestRunner@28d25987]">A6</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:26</td>   <td>86683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A7()[pri:0, instance:autoTests.TestRunner@28d25987]">A7</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:45:34</td>   <td>95338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A8()[pri:0, instance:autoTests.TestRunner@28d25987]">A8</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>16/03/18 15:47:49</td>   <td>230110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.A9()[pri:0, instance:autoTests.TestRunner@28d25987]">A9</td> 
  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:43:56</td>   <td>-3506</td> <td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.SetUp()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:42</td>   <td>462961</td> <td title="&lt;&lt;SetupAndTeardown.deleteFiles()[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;deleteFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179381257</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:43:59</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:04</td>   <td>4852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:21</td>   <td>21480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:23</td>   <td>24025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:09</td>   <td>69751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:17</td>   <td>78269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:26</td>   <td>86676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:34</td>   <td>95331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:53</td>   <td>113557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:56</td>   <td>116733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:59</td>   <td>119790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:20</td>   <td>200512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:26</td>   <td>207028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:33</td>   <td>214029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:40</td>   <td>221001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:49</td>   <td>230104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:56</td>   <td>237036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:04</td>   <td>244928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:19</td>   <td>259688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:49:23</td>   <td>323592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:37</td>   <td>398176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:41</td>   <td>401609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:15</td>   <td>436107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupAndTeardown.doLogin()[pri:0, instance:autoTests.TestRunner@28d25987]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:04</td>   <td>4762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:21</td>   <td>21477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:44:23</td>   <td>24024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:09</td>   <td>69749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:17</td>   <td>78268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:26</td>   <td>86674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:34</td>   <td>95330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:53</td>   <td>113555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:56</td>   <td>116731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:45:59</td>   <td>119789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:20</td>   <td>200511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:26</td>   <td>207028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:33</td>   <td>214028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:40</td>   <td>221000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:49</td>   <td>230103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:47:56</td>   <td>237034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:04</td>   <td>244927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:48:19</td>   <td>259687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:49:23</td>   <td>323590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:37</td>   <td>398175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:50:41</td>   <td>401608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:15</td>   <td>435460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>16/03/18 15:51:42</td>   <td>462873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupAndTeardown.takeScreenshot(org.testng.ITestResult)[pri:0, instance:autoTests.TestRunner@28d25987]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>TestNG@2087249899</td>   <td></td> </tr>
</table>
