<h2>Reporter output</h2><table><tr><td><form id = "A1form" action= "" method="post">
<font color="blue" size="3">авторизация</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A1form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A1";
</script></td></tr>
<tr><td><b>1. Перейти на страницу авторизации</b><br></td></tr>
<tr><td><b>2. Авторизоваться</b><br></td></tr>
<tr><td>The test - "A1" was successfully ended(18.3.2016 15:44:4)</td></tr>
<tr><td><form id = "A2form" action= "" method="post">
<font color="blue" size="3">сменить фирму(страница платежи)</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A2form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A2";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Сменить фирму</b><br></td></tr>
<tr><td>The test - "A2" was successfully ended(18.3.2016 15:44:21)</td></tr>
<tr><td><form id = "A3form" action= "" method="post">
<font color="blue" size="3">настройки</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A3form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A3";
</script></td></tr>
<tr><td><b>1. Перейти на страницу настроек</b><br></td></tr>
<tr><td><b>2. Установить подпись через ЕЦП</b><br></td></tr>
<tr><td>The test - "A3" was successfully ended(18.3.2016 15:44:23)</td></tr>
<tr><td><form id = "A4form" action= "" method="post">
<font color="blue" size="3">создание платежа</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A4form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A4";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платеж</b><br></td></tr>
<tr><td><b>2. Нажать кнопку создать платеж</b><br></td></tr>
<tr><td><b>3. Выбрать файл из которого будут подтягиваться реквизиты платежа</b><br></td></tr>
<tr><td><b>4. Получить реквизиты платежа</b><br></td></tr>
<tr><td><b>5. Заполнить реквизиты платежа</b><br></td></tr>
<tr><td><b>6. Сохранить платеж</b><br></td></tr>
<tr><td><b>3. Выбрать файл из которого будут подтягиваться реквизиты платежа</b><br></td></tr>
<tr><td><b>4. Получить реквизиты платежа</b><br></td></tr>
<tr><td><b>5. Заполнить реквизиты платежа</b><br></td></tr>
<tr><td><b>6. Сохранить платеж</b><br></td></tr>
<tr><td><b>3. Выбрать файл из которого будут подтягиваться реквизиты платежа</b><br></td></tr>
<tr><td><b>4. Получить реквизиты платежа</b><br></td></tr>
<tr><td><b>5. Заполнить реквизиты платежа</b><br></td></tr>
<tr><td><b>6. Сохранить платеж</b><br></td></tr>
<tr><td>The test - "A4" was successfully ended(18.3.2016 15:45:9)</td></tr>
<tr><td><form id = "A5form" action= "" method="post">
<font color="blue" size="3">удаление платежа</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A5form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A5";
</script></td></tr>
<tr><td><b>1. Открыть платеж</b><br></td></tr>
<tr><td><b>2. Удалить платеж</b><br></td></tr>
<tr><td>The test - "A5" was successfully ended(18.3.2016 15:45:17)</td></tr>
<tr><td><form id = "A6form" action= "" method="post">
<font color="blue" size="3">подписание платежа</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A6form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A6";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Перейти в платеж</b><br></td></tr>
<tr><td><b>3.  Нажать подписать платеж</b><br></td></tr>
<tr><td><b>4.  Выбрать ключ</b><br></td></tr>
<tr><td><b>4. Ввести пароль от ключа</b><br></td></tr>
<tr><td><b>5. Найти нужный платеж</b><br></td></tr>
<tr><td><b>6. Проверить статус платежа</b><br></td></tr>
<tr><td>The test - "A6" was successfully ended(18.3.2016 15:45:26)</td></tr>
<tr><td><form id = "A7form" action= "" method="post">
<font color="blue" size="3">редактирование платежа</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A7form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A7";
</script></td></tr>
<tr><td><b>1. Открыть платеж</b><br></td></tr>
<tr><td><b>2. Изменить платеж</b><br></td></tr>
<tr><td>The test - "A7" was successfully ended(18.3.2016 15:45:34)</td></tr>
<tr><td><form id = "A8form" action= "" method="post">
<font color="blue" size="3">копирование платежа</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A8form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A8";
</script></td></tr>
<tr><td><b>1. Открыть страницу платежей</b><br></td></tr>
<tr><td><b>2. Сохранить параметры исходного платежа</b><br></td></tr>
<tr><td><b>3. Скопировать платеж</b><br></td></tr>
<tr><td><b>4. Скопировать платеж</b><br></td></tr>
<tr><td><b>5. Сравнить платежи</b><br></td></tr>
<tr><td>The test - "A8" was successfully ended(18.3.2016 15:45:53)</td></tr>
<tr><td><form id = "A10form" action= "" method="post">
<font color="blue" size="3">фильтр все</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A10form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A10";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр все</b><br></td></tr>
<tr><td>The test - "A10" was successfully ended(18.3.2016 15:45:56)</td></tr>
<tr><td><form id = "A11form" action= "" method="post">
<font color="blue" size="3">фильтр ни одного</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A11form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A11";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр ни одного</b><br></td></tr>
<tr><td>The test - "A11" was successfully ended(18.3.2016 15:45:59)</td></tr>
<tr><td><form id = "A12form" action= "" method="post">
<font color="blue" size="3">фильт к отправке в банк</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A12form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A12";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td>The test - "A12" was successfully ended(18.3.2016 15:47:20)</td></tr>
<tr><td><form id = "A13form" action= "" method="post">
<font color="blue" size="3">фильтр на исполнении</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A13form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A13";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td>The test - "A13" was successfully ended(18.3.2016 15:47:26)</td></tr>
<tr><td><form id = "A14form" action= "" method="post">
<font color="blue" size="3">фильтр возвращенные</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A14form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A14";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td>The test - "A14" was successfully ended(18.3.2016 15:47:33)</td></tr>
<tr><td><form id = "A15form" action= "" method="post">
<font color="blue" size="3">Фильтр отправленные в банк</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A15form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A15";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td>The test - "A15" was successfully ended(18.3.2016 15:47:40)</td></tr>
<tr><td><form id = "A16form" action= "" method="post">
<font color="blue" size="3">выбрать все платежи</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A16form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A16";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать все платежи</b><br></td></tr>
<tr><td>The test - "A16" was successfully ended(18.3.2016 15:47:49)</td></tr>
<tr><td><form id = "A9form" action= "" method="post">
<font color="blue" size="3">фильтр на подписание</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A9form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A9";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td>The test - "A9" was successfully ended(18.3.2016 15:47:56)</td></tr>
<tr><td><form id = "A17form" action= "" method="post">
<font color="blue" size="3">удалить несколько платежей</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A17form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A17";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр на подписание</b><br></td></tr>
<tr><td><b>3. Удалить платежи</b><br></td></tr>
<tr><td>The test - "A17" was successfully ended(18.3.2016 15:48:4)</td></tr>
<tr><td><form id = "A18form" action= "" method="post">
<font color="blue" size="3">подписать несколько платежей</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A18form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A18";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр на подписание</b><br></td></tr>
<tr><td><b>3. Нажать подписать</b><br></td></tr>
<tr><td><b>4. Ввести пароль от ключа</b><br></td></tr>
<tr><td>The test - "A18" was successfully ended(18.3.2016 15:48:19)</td></tr>
<tr><td><form id = "A19form" action= "" method="post">
<font color="blue" size="3">отправить несколько платежей</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A19form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A19";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td>The test - "A19" was successfully ended(18.3.2016 15:49:23)</td></tr>
<tr><td><form id = "A20form" action= "" method="post">
<font color="blue" size="3">отправить несколько платежей</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A20form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A20";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td><b>2. Выбрать фильтр к отправке в банк</b><br></td></tr>
<tr><td>The test - "A20" was successfully ended(18.3.2016 15:50:37)</td></tr>
<tr><td><form id = "A21form" action= "" method="post">
<font color="blue" size="3">отправить платеж</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A21form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A21";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платежей</b><br></td></tr>
<tr><td>The test - "A21" was successfully ended(18.3.2016 15:50:41)</td></tr>
<tr><td><form id = "A22form" action= "" method="post">
<font color="blue" size="3">сохранить и подписать</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A22form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A22";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платеж</b><br></td></tr>
<tr><td><b>2. Создать платеж</b><br></td></tr>
<tr><td><b>5. Заполнить реквизиты платежа</b><br></td></tr>
<tr><td><b>3. Нажать кнопуку сохранить и подписать</b><br></td></tr>
<tr><td><b>4. Ввести пароль от ключа</b><br></td></tr>
<tr><td><center>Скриншот снят при падении теста A22.png, URL = https://pre.24.it.loc/payment_edit/1128455138680241664/sign<br><div><a target="_blank" href="Screens/A22.png"><img  style="height:400px; width: 600px;"  src="Screens/A22.png"></a></div><center><br><br></td></tr>
<tr><td><form id = "A23form" action= "" method="post">
<font color="blue" size="3">кнопка очистить</font>
</form> 
<script type="text/javascript">
	var currentURL = document.URL;
	currentURL = currentURL.substring(0,currentURL.indexOf("/HTML_Report/"));
var jobNameStartIndex = currentURL.indexOf("AutoTest");
while(currentURL.lastIndexOf("/") > jobNameStartIndex)
  currentURL = currentURL.substring(0,currentURL.lastIndexOf("/")); 	document.getElementById('A23form').action = currentURL + "/buildWithParameters?suiteFile=testng.xml&test=autoTests.TestRunner%23A23";
</script></td></tr>
<tr><td><b>1. Перейти на страницу платеж</b><br></td></tr>
<tr><td><b>2. Нажать создать платеж</b><br></td></tr>
<tr><td><b>3. Нажать кнопку очистить</b><br></td></tr>
<tr><td><b>4. Вернуться на тсраницу платежей</b><br></td></tr>
<tr><td><b>4. Зайти в платеж</b><br></td></tr>
<tr><td><b>5. Нажать копировать платеж</b><br></td></tr>
<tr><td><b>3. Нажать кнопку очистить</b><br></td></tr>
<tr><td><b>4. Вернуться на тсраницу платежей</b><br></td></tr>
<tr><td>The test - "A23" was successfully ended(18.3.2016 15:51:42)</td></tr>
</table>